

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: white;
    color: black;
 } */

 /* #navbar {
    border: 5px solid red;
    background-color: black;
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
 }

 #navbar>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
 }

 #navbar>div:first-child>h2 {
    background-color: black;
    font-style: italic;

 }

 #navbar>div:first-child>h2:first-child {
    color: red;
    background-color: black;
    font-size: 35px; 
    border: 2px solid blue;
 }

 #navbar>div:first-child>h2:last-child {
    background-color: black;
    font-size: 35px;
    color: white;
 }

 #navbar>div:nth-child(2) {
    background-color: black;
    width: 40%;
    display: flex;
    justify-content: space-between;
 }

 #navbar h3 {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
    border: 1px solid red;

 }

 #navbar h3:hover {
    color: red;
    border-bottom: 2px solid red;
   
 }

 #navbar h2 {
   background-color: red;
   color: white; 
 } */


/* <----------------------------------------------------------------------------------------------------------------------------------------------> */
body {
   margin: 0px;
   font-family: 'segoe ui';
 }
 
 .nav {
   /* border: 2px solid red; */
   height: 65px;
  position: fixed  !important;
  /* overflow: hidden; */
  margin-bottom: 8rem;
  top: 0px;
    z-index: 0;
   width: 100%;
   background-color: black;
   color: white;
   /* position: relative; */
   /* border: 2px solid red; */
 }
 
 .nav > .nav-header {
   display: inline;
 }
 
 .nav > .nav-header > .nav-title {
   display: inline-block;
   font-size: 35px;
   margin-left: 100px;
   font-style: italic;
   font-weight: bold;
   color: #fff;
   padding: 12px 12px 12px 12px;
 }
 
 .nav > .nav-btn {
   display: none;
 }
 
 .nav > .nav-links {
   display: inline;
   float: right;
   font-size: 25px;
   font-weight: bold;
  
 }
 
 .nav > .nav-links > a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: white;
 }
 
 .nav > .nav-links > a:hover {
   color:red;
 }
 
 .nav > #nav-check {
   display: none;
 }


 #aaa>span{
color: red;
 }

 #bbb{
   background-color: red;
   border-radius: 10px;
   padding: 4px;
   border: none;
   margin-right: 20px;
 }

 #bbb:hover{
   color: white;
 }
 
 @media (max-width:600px) {
   .nav > .nav-btn {
     display: inline-block;
     position: absolute;
     right: 0px;
     top: 0px;
   }

   #aaa{
      margin-left: 0;
      /* margin-right: 50px; */
   }




   .nav > .nav-btn > label {
     display: inline-block;
     width: 50px;
     height: 60px;
     padding: 13px;
   }
   .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
     background-color: rgba(0, 0, 0, 0.3);
   }
   .nav > .nav-btn > label > span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }
   .nav > .nav-links {
     position: absolute;
     display: block;
     width: 100%;
     background-color: #333;
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     left: 0px;
     
   }
   .nav > .nav-links > a {
     display: block;
     width: 100%;
   }
   .nav > #nav-check:not(:checked) ~ .nav-links {
     height: 0px;
   }
   .nav > #nav-check:checked ~ .nav-links {
     height: calc(60vh - 50px);
     overflow-y: auto;
   }






 }

/* <--------------------------------------------------------------------------------------------------------------------------------------------------------> */

 #image {
   /* border: 2px solid blue; */
   /* margin-top: 12rem; */
<<<<<<< HEAD
   padding-top: 3rem;
=======
   padding-top: 4rem;
>>>>>>> cd824920dddbc2fe630e698a3190c3ea00c72220

    display: grid;
    width:95%;
    margin:auto;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin: 20px auto;
   
    
 }
   
#a {
 text-align: center;
 padding-bottom: 20px;
 /* border: 2px solid blue; */
}

#b{
   margin-top: 20px;
}





 #about>h1:first-child {
    /* margin-top: 40px; */
    font-size: 80px;
    /* border: 2px solid red; */
    margin-bottom: -30px;
 }

 #about>h1:nth-child(2) {
    font-size: 60px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
 }

 #about>h1:nth-child(3) {
    font-size: 50px;
    color: red;
    margin-top:-15px;
    /* border: 2px solid blue; */
 }

 #image img {
   display: block;
   border-radius: 30%;
   width: 80%;
   /* border: 2px solid blue; */
}


 #myself {
    margin: auto;
    width: 70%;
    /* border: 2px solid blue; */
 }

 #myself p {
    font-size: 30px;
    /* border: 2px solid blue; */
 }


 #skill {
    width: 70%;
    margin: auto;
    margin-top: 200px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    /* border: 2px solid blue; */
 }

 #skill>div {
    border: 5px solid black;
    border-radius: 12px;
    height: 200px;
    /* border: 2px solid blue; */
 }

 #skill>div:hover {
    border: 2px solid orange;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 #skill img {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border-radius: 30px;
    /* border: 2px solid blue; */
 }

 #skill img:hover {
    background-color: white;
 }




 #ayush{
   width: 70%;
   margin: auto;
   margin-top: 200px;
   border-radius: 30px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   /* grid-template-rows: repeat(, 1fr); */
   justify-content: space-between;
   gap: 20px;
   align-items: center;
  
}

#ayush>div {
   border: 5px solid black;
   border-radius: 12px;
   height: 200px;
   
}

#ayush>div:hover {
   border: 2px solid orange;
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#ayush img {
   display: block;
   width: 90%;
   margin: auto;
   margin-top: 10%;
   border-radius: 30px;
   /* border: 2px solid blue; */
}

#ayush img:hover {
   background-color: white;
}



#kumar{
   width: 70%;
   margin: auto;
   margin-top: 200px;
   margin-bottom: 200px;
   border-radius: 30px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   /* grid-template-rows: repeat(3, 1fr); */
   justify-content: space-between;
   gap: 20px;
   align-items: center;
  
}

#kumar>div {
   border: 5px solid black;
   border-radius: 12px;
   height: 200px;
   
}

#kumar>div:hover {
   border: 2px solid orange;
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#kumar img {
   display: block;
   width: 90%;
   margin: auto;
   margin-top: 10%;
   border-radius: 30px;
   /* border: 2px solid blue; */
}

#kumar img:hover {
   background-color: white;
}

 /* #skill>div:nth-child(4)>img{
       padding-top: 40px;
       padding-bottom: 40px;
       width:100%;
    }
    #skill>div:nth-child(5)>img{
       padding-top: 30px;200px
       padding-bottom: 30px;
       width:100%;
    } */
 /* #hours {
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 200px;
    margin-top: 70px;
    display: grid;
    border: 1px solid red;
    border: 2px solid blue;
 } */

 /* #hours>div {
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red;
    
 } */

 /* #hours>div:nth-child(2) {
   margin-top: 40px;
 }  */

 /* #hours>img {
    display: block;
    margin: auto;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    border: none;
  
 } */

 /* #softskills {
    width: 70%;
    height: 250px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    margin-top: 40px;
 }

 #softskills>img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
 } */

 /* #github {
    width: 70%;
    height: 300px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
 }

 #github>img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
 } */

 #projects {
    width: 71%;
    margin: auto;
    margin-top: 170px;
    display: grid;
    gap: 30px;
    
 }

 #projects>div {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 40px;
    height: 350px;
 }

 #projects img {
    border: 3px solid black;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

 }

 #footer {
    border: 1px solid black;
    background-color: black;
    width: 100%;
    height: 250px;
    margin-top: 150px;

 }

 #footer>div:first-child {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;
    background-color: black;
 }

 #footer>div:first-child>h3 {
    color: white;
    background-color: black;
 }

 #link {
    width: 30%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
 }

 #footer img {
    display: block;
    margin: auto;
    width: 48%;
    background-color: black
 }

 #link>div {
    background-color: black;
    margin-left: 0px;
 }



 /* #resume {
    position: relative;
    bottom: 12%;
    margin: auto;
    display: block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
    z-index: 1;
    border: 1px solid red;
 } */
/* 
 #resume:hover {
    background-color: rgb(67, 9, 9);
    cursor: pointer;
 } */

 .verma {
   /* border: 2px solid blue; */
    padding: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 3px solid;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
.verma>h2{
   margin-top: 10px;
   margin-left: auto;
}
 .verma>h4 {
    margin-top: 10px;
    /* border: 2px solid blue; */
 }

 .verma>h3 {
    margin-top: 15px;
    /* border: 2px solid blue; */
 }

 .verma div {
   
    display: flex;
    width: 100%;
    justify-content: space-evenly;
 }

 .verma button {
    margin-top: 25px;
    border-radius: 3px;
    height: 30px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
    color: white;
    
 }

 .verma button:hover {
    background-color: red;
    cursor: pointer;
 }

 .intro {
    margin-left: 14%;
    font-size: 42px;
    margin-top:70px ;
    /* border: 1px solid red */
 }
 #g {
    height: 40px;
    /* border: 1px solid green; */
    margin-top: -300px;
 }

 #z {
   height: 40px;
   /* border: 1px solid green; */
   margin-top: -500px;
}




 #contact {
    margin-top: 150px;
    width: 350px;
    margin-left: 40%;
    display: flex;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
   
 }

 #contact h1 {
    text-align: center;
 }

 #contact input {
    display: block;
    margin-top: 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding-left: 20px;
 }

 #form>input:nth-child(5) {
    height: 80px;
    
 }

 #form>input:nth-child(6) {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    padding: 0px;
    background-color: black;
    color: white;
    margin-left: 34%;
 }

 #touch {
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 20%;
    background-color: black;
    color: white;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
   
 }

 #touch:hover {
    cursor: pointer;
 }

 #msg {
    width: 330px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-color: aquamarine;
    color: black;
 
 }

 a {
    text-decoration: none;
 }

 /* #toogle {
    position: absolute;
    right: 20px;
 } */

 #t {
    color: red;
    display: none;
 }

 #sidemenu {
    width: 250px;
    height: 100%;
    display: none;
    /* border: 1px solid red; */
    position: fixed;
    z-index: 10px;

 }

 #sidemenu h3 {
    margin-left: 40px;
    line-height: 50px;
    font-size: 30px;
 }




 @media all and (min-width:601px) and (max-width:1000px) {
    #myself {
       width: 85%;
       text-align: left;
    }

    #t {
       display: inline;
       background-color: black;
    }


    #image {
    display: grid;
    width:90%;
    margin:auto;
    grid-template-columns: repeat(1,1fr);
    
    margin: 20px auto;
    }

    #image img {
       width: 30%;
       margin: auto;
       /* border: 2px solid blue; */

    }

    #about {
       /* margin-top: -150px; */
       padding: 20px;
    }

    #resume {
       margin-top: -10px;
       margin-bottom: 80px;
    }

     #skill {
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(auto, 100px);
       gap: 80px;
       width: 80%;
    }

#ayush{
   grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(auto, 100px);
       gap: 80px;
       width: 80%;
}

#kumar{
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(auto, 100px);
       gap: 80px;
       width: 80%;
} 


    #hours {
       margin-top: 70px;
       margin-bottom: 70px;
       width: 80%;
    }

    #hours>div{
       height:200px;
    }


    #softskills {
       margin-top: 150px;
       margin-bottom: 50px;
       width: 80%;
    }

    /* #github {
       height: 200px;
       width: 80%;
    } */

    #projects {
       width: 80%;
       /* border: 2px solid blue; */
    }

    #projects>div {
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(auto, 1fr);
    }

    #projects>div:nth-child(2) {
       margin-top: 70%;
       margin-bottom: 40%;
       /* border: 2px solid blue; */
    }

    #projects>div:last-child {
       margin-top: 30%;
       margin-bottom: 70%;
       /* border: 2px solid blue; */
    }
    

    #contact {
       margin: auto;
       margin-top: 30%;
    }

    #footer {
       height: 300px;
    }

    #footer>div:first-child {
       width: 80%;
    }

    #footer>div:first-child>h3 {
       font-size: 18px;
    }

    #footer>div:last-child {
       margin-top: 12%;
       width: 60%;
       justify-content: space-evenly;
    }

    #sidemenu {
       z-index: 20;
    }
    .verma>h4{
       font-size: 22px;
    }
    .verma>h5{
       font-size: 20px;
    }

 }

 


 @media all and (min-width:280px) and (max-width:600px) {
    #t {
       display: inline;
       background-color: black;
    }

    #contact {
       width: 300px;
    }

    /* #touch{
          width:350px;
       } */
    #contact input {
       width: 250px;
    }


    #navbar>div:nth-child(2) {
       display: none;
    } 

    /* #image {
       position: relative;
       flex-direction: column;
       width: 90%;
       margin: auto;
       margin-top: 50px;
    } */

    #image {
    width:90%;
    grid-template-columns: repeat(1,1fr);
    margin: 20px auto;
    }

    #image img {
       width: 70%;
       margin: auto;
    }

    #about {
       margin-top: -20px;
     
    }

    #about>h1:first-child {
       font-size: 35px;
    }

    #about>h1:nth-child(2) {
       font-size: 30px;
    }

    #about>h1:nth-child(3) {
       font-size: 30px;
    }

    #myself p {
       font-size: 20px;
    }
    #myself{
       width:90%;
    }

    /* #resume {
       position:absolute;
            left: 35%;
       display: none;
       width: 100px;
       margin-top: -50px;
       margin-bottom: 80px;
    } */

    #skill {
       grid-template-columns: repeat(2, 1fr);
       
       gap: 80px;
       width: 80%;
    }

    #skill>div {
       height: 150px;
    }

    /* #skill img {
       margin-top: 20%;
       width: 80%;
    } */

#ayush{
   grid-template-columns: repeat(2,1fr);
   gap: 80px;
       width: 80%;
    
}

#ayush>div {
   height: 150px;
}

#kumar{
   grid-template-columns: repeat(2,1fr);
   gap: 80px;
       width: 80%;
    
}
#kumar>div {
   height: 150px;
}

    #hours {
       margin-top: 100px;
       margin-bottom: 50px;
       width: 90%;
    }

    #hours>div{
       height:200px;
    }

    #hours>div:nth-child(1) {
       margin-top: -50px;
    }
    
    #hours>div:nth-child(2) {
       margin-top: -50px;
       
    }

    #softskills {
       margin-top: 450px;
       margin-bottom: 50px;
       width: 90%;
    }

    #github {
       height: 180px;
       width: 90%;
       margin-top: 50px;
    }

    #projects {
       width: 90%;
       /* border: 2px solid blue; */
    }

    #touch {
       margin-left: 8%;
    }

    #projects>div {
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(1, 1fr);
       gap: 10%;
    }

    #projects>div:last-child {
       margin-top: 40%;
       margin-bottom: 70%;
    }


    #projects>div:nth-child(2) {
       margin-top: 80%;
       margin-bottom: 40%;
       /* border: 2px solid blue; */
    
    }

    #contact {
       margin: auto;
       margin-top: 150px;
    }

    #footer {
       height: 300px;
    }

    #footer>div:first-child {
       width: 80%;
       flex-direction: column;
    }

    #footer>div:first-child>h3 {
       font-size: 18px;
    }

    #footer img {
       width: 50%;
    }

    #link>div {
       margin-left: -20px;
    }

    #footer>div:last-child {
       margin-top: 12%;
       width: 80%;
       justify-content: space-between;
    }

    #sidemenu {
       width: 200px;
       z-index: 20;
    }

    .intro {
       font-size: 40px;
       margin-top: 100px;
       margin-left: 30px;
       /* border: 1px solid red; */
    }

 }

 @media all and (min-width:10px) and (max-width:279px){

 

   #skill {
      grid-template-columns: repeat(1, 1fr);
      
      gap: 80px;
      width: 80%;
   }

   #skill>div {
      height: 150px;
   }

   #ayush{
      grid-template-columns: repeat(1,1fr);
      gap: 80px;
          width: 80%;
       
   }

   #ayushl>div {
      height: 150px;
   }
   
   #kumar{
      grid-template-columns: repeat(1,1fr);
      gap: 80px;
          width: 80%; 
   } 

   #kumar>div {
      height: 150px;
   }


   #image {
      display: grid;
      width:90%;
      margin:auto;
      grid-template-columns: repeat(1,1fr);
      
      margin: 20px auto;
      }
  
      #image img {
         width: 30%;
         margin: auto;
         /* border: 2px solid blue; */
  
      }

      #about {
         margin-top: -20px;
       
      }
  
      #about>h1:first-child {
         font-size: 35px;
      }
  
      #about>h1:nth-child(2) {
         font-size: 30px;
      }
  
      #about>h1:nth-child(3) {
         font-size: 30px;
      }
  


 }












 /* .gitstack {
    margin: auto;
    width: 70%;
    height: 197px;
    justify-content: center;
    margin-top: 20px;
    display:flex; 
    flex-wrap: nowrap;
    gap:5px;
    flex-direction:row;
    border: 1px solid red;
}
.gitstack > div {
    background-color: blue;
    width: 350px;
    height: 100%;
}
.gitstack >div > img {
    border: 1px solid green;
    width: 100%;
    height: 100%;
} */

/* @media (max-width:991px){
    .gitstack {
        margin-top: 120px;
        margin-bottom: 60px;
        flex-direction:column;
        align-items: center;
        
    }
    #star {
        margin-top: 180px;
    }
} */

/* <----------------newnavbar-----------------------------------> */



